# .gitignore for this repo

.DS_Store
prointvar.sqlite
ARCHIVE/
PROGRAMS/
DATA/
ANALYSIS_OLD/
ANALYSIS/__pycache__/
ANALYSIS/results/
ANALYSIS/figs/
ANALYSIS/.ipynb_checkpoints/
ANALYSIS/triangles.pkl
ANALYSIS/token.json
ANALYSIS/tetrahedra.pkl
ANALYSIS/load_delaunay_tetrahedra.pml
ANALYSIS/load_delaunay.pml
ANALYSIS/load_convex_hull_triangles.pml
ANALYSIS/load_convex_hull.pml
ANALYSIS/3_CLUSTERING_protein_chains.ipynb
ANALYSIS/8.1_POVME_VN-EGNN.ipynb
ANALYSIS/8.2_POVME_IF-SitePred.ipynb
ANALYSIS/8.3_POVME_GrASP.ipynb
ANALYSIS/8.4_POVME_PUResNet.ipynb
ANALYSIS/8.5_POVME_DeepPocket.ipynb
ANALYSIS/8.6_POVME_P2Rank+Cons.ipynb
ANALYSIS/8.7_POVME_P2Rank.ipynb
ANALYSIS/8.8_POVME_fpocket.ipynb
ANALYSIS/8.9_POVME_PocketFinder.ipynb
ANALYSIS/8.10_POVME_Ligsite.ipynb
ANALYSIS/8.11_POVME_Surfnet.ipynb


